<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.lmi"/>

    <bean id="message" class="com.lmi.components.Message" scope="prototype">
        <property name="target" value="A"/>
        <property name="destination" value="B"/>
        <property name="body" value="My message"/>
    </bean>

    <bean id="messageService" class="com.lmi.components.MessageService" scope="singleton">
        <lookup-method name="getMessage" bean="message"/>
    </bean>

</beans>