<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<display-name>Spring 4 MVC</display-name>

	<!--
	 Тоже самое только через java

		public class WebAppInitializer implements WebApplicationInitializer {

			@Override
			public void onStartup(ServletContext servletContext) throws ServletException {
				final WebApplicationContext context = getContext();
				servletContext.addListener(new ContextLoaderListener(context));

				ServletRegistration.Dynamic dispatcher = servletContext.addServlet("dispatcherServlet", new DispatcherServlet(context));
				dispatcher.setLoadOnStartup(1);
				dispatcher.addMapping("*.html");
			}

			private AnnotationConfigWebApplicationContext getContext(){
				final AnnotationConfigWebApplicationContext annotationConfigWebApplicationContext = new AnnotationConfigWebApplicationContext();
				annotationConfigWebApplicationContext.register(WebConfig.class);
				return annotationConfigWebApplicationContext;
			}
		}

	-->

	<!--  Раскоментировать чтобы инициализировать DispatcherServlet через web.xml и Java конфигурацию-->

	<!--<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-vacom.spring4.mvc.linnyk.configuration.WebConfignfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/pdfs/**</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>-->

</web-app>